/* dashboard */
.btGroup{
	list-style-type: none;
	margin: 0px;
}
.btGroup button{
	background-color: #28db00;
}
.btGroup i{
	font-size: 24px;
}
.btGroup #btTotal{
	width: 95%;
	height: 70px;
	margin-bottom: 5px;
}
.btGroup Strong{
	display: none;
}
/* hover */
.btGroup #btTotal:hover Strong{
	display: inline;
	font-size: 24px;
}
.btGroup #btTotal:hover i{
	display: none;
}
.btGroup #btTotal:hover{
	background: #000000;
}
/* click */
.btGroup #btTotal:focus{
	background: #000000;
}
.btGroup #btTotal:focus i{
	display: none;
}
.btGroup #btTotal:focus Strong{
	display: inline;
	font-size: 24px;
}
.txt span {
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
	  0%   {background-color: green;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: red;}
}

/* Standard syntax */
@keyframes example {
   	0%   {background-color: green;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: red;}
}
#user:focus{
	background-color: #000000;
}
#changeTopEngineer h4{
  color:  #2929a3;
  animation-name: example1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes example1 {
    from {color: #adadeb;}
    to   {color: #2929a3;}
}    
#changeTopEngineer h6{
  color: #6f6fdc;
}
/* end-dashboard */
/* indexProject */
#white-background{
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: #fefefe;
      opacity: 0.7;
      z-index: 9999;
}
#dlgbox{
  display: none;
  position: fixed;
  width: 480px;
  z-index: 9999;
  border-radius: 10px;
  background-color: #7c7d7e;
}
#dlg-header{
  background-color: #6d84b4;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin:  10px 10px 0px 10px;
}
#dlg-body{
  background-color: white;
  color:  black;
  font-size: 14px;
  padding: 10px;
  margin:  0px 10px 0px 10px;
}
#dlg-footer{
  background-color: #f2f2f2;
  text-align: right;
  padding: 10px;
  margin:  0px 10px 10px 10px;
}
#dlg-footer button{
  background-color: #6d84b4;
  color:  white;
  padding: 5px;
  border: 0px;

}
/* end-indexProject */
/* engineer */
.img {
  margin: 10px 0px 10px 20px;
  width: 150px;
  height: 180px;  
}
.img img{
  width: 150px;
  height: 180px;
  background-color: #000000;
}
